{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="purple-view">
  <div class="container my-5 form-container">
    <h1 class="purple-title">{% trans "Sign Up" %}</h1>
    <p>{% blocktrans %}
         Welcome to LoveBooks.
        Do you already have an account? Then please
        <a class="link" href="{{ login_url }}">sign in</a>
        instead.
        {% endblocktrans %}</p>
    <form class="form-control" id="signup_form" method="post"
      action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}" />
      {% endif %}
    <button class="btn submit-button" type="submit">
      {% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}