body {
    background-color: #70149a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color:#70149a;
}

a:hover {
    color:#f374d1;
}

.header {
    height: 80vh;
    background: linear-gradient(0deg, rgba(167,102,238,1) 0%, rgba(69,28,106,1) 37%);
    color: #F9FAFC;    
}

.purple-title {
    color: #9826cc;
}

.purple-view {
    background: rgba(69,28,106,1);
}

.footer-view {
    background: linear-gradient(0deg, rgba(167,102,238,1) 0%, rgba(69,28,106,1) 37%);

}

.footer-icons{
    color:#f374d1;
    font-size:2.6em;

}

.footer-icons a:visted {
    color:#f374d1; 

}

.footer-icons a {
    color:#f374d1; 
}

.footer-logo{
    color:#f374d1;
    font-size:1em;
}

.nav-bg {
    background: #281334;
    color: #d4bbf5;
    box-shadow: 0px 5px 5px rgba(80, 173, 255, 0.2); 
    border-bottom: 1px solid #cbe7ff;
}

.bg-valid {
    background: #6af09a;
    font-size: 3vh;
    color:#4A4A4F;
}

.bg-message {
    background:#f091d7;
    font-size: 3vh;
    color:#4A4A4F;
}

#next-baby {
    color:#70149a;
}

#next-baby:hover {
    color:#f374d1;
}

#prev-baby {
    color:#70149a;
}

#prev-baby:hover {
    color:#f374d1;
}

/* Description */

.cool-h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 4.5rem;
    margin-top: 20%;
}

.hello-pink {
    color:#f84bc9;
}

/* Search Bar */

.search-col {
    text-align: center;
}

.search-field {
    font-size: 1.5rem; 
    width: 100%; 
    height: 3rem; 
    border: 2px solid purple;
    border-radius: 1rem; 
    margin-bottom: 10px;
    padding: 0.5rem; 
    box-sizing: border-box; 
    border-color: rgb(155, 241, 252);
}

.search-form {
    padding-top: 28%;
    border-radius: 1rem; 
    width: 70%;
    margin: 0 auto; 
    max-width: 400px; 
}
.btn-primary {
    font-weight: 800;
    width: 100%; 
    background-color: #b193db;
    border-color: rgb(155, 241, 252);
}

.btn-primary:hover {
    background-color: #f84bc9;
    border-color: #f84bc9;
}

/* FORM CONTAINER */

.form-container {
    max-width: 100vh; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
}

.form-container a {
    color:#f84bc9;
}

.form-container a:visited {
    color:#ac80c6;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea,
.form-container select {
    font-size: large;
    width: 100%;
    padding: 10px;
    max-height: 20vh;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.form-container textarea {
    resize: vertical; 
}

.form-container .submit-button {
    font-size: large;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9826cc; 
    color: #fff;
    cursor: pointer;
}

.form-container .submit-button:hover {
    background-color: #f84bc9; 
}

input {
    border-radius: 12px;
}

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    margin-left: 10px;
    transition: background-color 200ms;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

/* Book detail */

.book-profile {
    padding-top: 3vh;
}

.book-cover {
    max-width: 100%; 
    height: auto; 
    overflow: hidden; 
    object-fit: cover;
  }
  
.book-detail h2 {
    color:#70149a;
    font-weight: 800;
}

.book-detail h6 {
    color:#a58abe;
}

.book-detail p {
    font-size: 2.2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-detail {
    text-align: left;
    font-size: 0.8em;
    color:#a58abe;
    margin-top: 1em;
    padding-bottom: 6vh;
}

.pink-title {
    font-family: "Lilita One", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color:#f84bc9;
}

.comment-writer {
    text-align:center;
    color:#a58abe;
}

.comment-login {
    text-align:center;
    color:#a58abe;
    font-size: 2rem;
}

.comment-title {
    font-family: "Lilita One", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color:#8867b3;
}

.comment-counter {
    text-align: center;
    color:#b09bc4;
    font-size: 1.5rem;
    padding-top:1vh;
}

.user-name {
    color:#f374d1; /* Different color for added_by text */
    font-size: 1.5rem; /* Bigger font size for added_by text */
}

.user-date {
    color:#b09bc4;
    font-size: 0.8rem;
}

.delete-button {
    font-size: small;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #e695c2; 
    color:#37044f;
    cursor: pointer;
}

.edit-button  {
    font-size: small;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #cd95e6; 
    color:#37044f;
    cursor: pointer;
}

/* Book stamp */

.stamp-title {
    color:#70149a;
    font-weight: 800;
}

.stamp-author {
    color:#a58abe;
}

.stamp-summary {
    color: rgb(13, 13, 13);
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system;
}

/* FAQ page */

.faq-page a {
    color:#70149a;
}

.faq-page a:hover {
    color:#f374d1;
}

/* Other things */

.brand {
    font-family: "Fredoka", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #f84bc9;
}

.brand a {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f84bc9;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
}



.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Adjust height for smaller screens */
@media (max-width: 980px) {
    .cool-h1 {
        margin-top: 3.5rem;
        font-size: 3.5rem;
    }
    .header {
        height: 100%;
}
}

/* Adjust height for extra small screens */
@media (max-width: 760px) {
    .cool-h1 {
        font-size: 2.5rem;
    }
    .header {
        height: 100%;
    }
}

/* Adjust height for extra small screens */
@media (max-width: 576px) {
    .cool-h1 {
        font-size: 2.5rem;
        margin-top: 2.5rem;
    }
    .header {
        height: 100%;
}
}

/* Adjust height for extra tiny screens */
@media (max-width: 360px) {
    .cool-h1 {
        font-size: 2rem;
        margin-top: 2.5rem;
    }
    .header {
        height: 100%;
}
}