{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %}
<div class="purple-view">
    <!-- displaying Django messages -->

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show bg-valid" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

<!-- Creator Page -->
    <div class="container my-5 form-container">
        <h1 class="purple-title">ADD NEW BOOK</h1>

        <form enctype="multipart/form-data" method="POST" action="" class="form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add" class="submit-button"/>
        </form>
    </div>
</div>

{% endblock %}

</body>
</html>