{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="header">
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show bg-message" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="container-fluid mb-3">
        <div class="row">
            <!-- Search bar column -->
            <div class="col-lg-6">
                <form action="{% url 'search' %}" method="get" class="search-form">
                    {% csrf_token %}
                    <input class="form-control search-field" type="text" name="q" placeholder="Search books">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Search</button>
                </form>
            </div>
            <!-- Title and description column -->
            <div class="col-lg-6 d-flex flex-column justify-content-center p-4 mb-3">
                <h1 class="cool-h1">SHARE YOUR LOVE</h1>
                <p class="lead"><span class="hello-pink">Everyone is talking about your favorite books</span>. 
                Now it's your turn. Share with the world what you love about the books you've been reading.</p>
            </div>
        </div>
    </div>
</div>

<!-- BOOK LIST -->

<div class="container-fluid pb-4">
    <div class="row">
        <div class="col-12 mt-3 left book-stamp">
            <div class="row">
                {% for book in book_list %}
                    <div class="col-md-3"> 
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in book.featured_image.url %}
                                        <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}"
                                            alt="placeholder image">
                                    {% else %}
                                        <img class="card-img-top" src="{{ book.featured_image.url }}"
                                            alt="{{ book.title }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'book_detail' book.slug %}" class="post-link">
                                    <h2 class="card-title stamp-title pt-2">{{ book.title }}</h2>
                                    <h5 class="card-title stamp-author">{{ book.author }}</h5> 
                                    <p class="card-text stamp-summary">{{ book.summary|safe }}</p>
                                </a>
                                <hr/>
                                <p class="card-text h6 stamp-author">Book added by {{ book.added_by }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
            </div> 
            <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" id="prev-baby">&laquo; PREV</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" id="next-baby"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>

{% endblock %}
